# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

mean_not_legendary_pokemon = pokemon[pokemon['Legendary']==False].Total.mean()
std_not_legendary_pokemon = pokemon[pokemon['Legendary']==False].Total.std()

mean_legendary_pokemon = pokemon[pokemon['Legendary']==True].Total.mean()
std_legendary_pokemon = pokemon[pokemon['Legendary']==True].Total.std()

print(f'The mean of the non legendary pokemon total points is {round(mean_not_legendary_pokemon,3)}\n')
print(f'The std of the non legendary pokemon total points is {round(std_not_legendary_pokemon,3)}\n')

print(f'The mean of the legendary pokemon total points is {round(mean_legendary_pokemon,3)}\n')
print(f'The std of the legendary pokemon total points is {round(std_legendary_pokemon,3)}\n')

The mean of the non legendary pokemon total points is 417.214

The std of the non legendary pokemon total points is 106.76

The mean of the legendary pokemon total points is 637.385

The std of the legendary pokemon total points is 60.937

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
from scipy.stats import ttest_ind

# This is a two-sided test for the null hypothesis that 2
# independent samples have identical average values.

ttest_ind(pokemon[pokemon['Legendary']==True].Total,
          pokemon[pokemon['Legendary']==False].Total,
          equal_var=False)

# 'equal_var' to False := assumes unequal sample variances.

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

#H0:= legendary and non-legendary pokemon's average values are equal.

# Focusing at the mean of total points, it seems that legendary
#pokemons have more points that the normal pokemon. However, 
# it certainly does not prove whether there is a significant difference between the two groups.

#So, with a pvalue of (9.35e-47) near to zero,
#  we can reject the H0 with a 95% of confidence, meaning that there are indeed a
# difference between the two kinds of pokemon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
pokemon_agua = pokemon[pokemon['Type 1']=='Water']
pokemon_no_agua = pokemon[pokemon['Type 1']!='Water']

comparacion_agua = pd.DataFrame()
comparacion_agua['mean'] = (pokemon_agua['Total'].mean(),pokemon_no_agua['Total'].mean())
comparacion_agua['std'] = (pokemon_agua['Total'].std(),pokemon_no_agua['Total'].std())
comparacion_agua

         mean         std
0  430.455357  113.188266
1  435.859012  121.091682

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# H0:= mean of pokemon water is equal to the mean of non-water pokemon.

ttest_ind(pokemon_agua['Total'],pokemon_no_agua['Total']) #pvalue indica que la diferencia entre los dos grupos no es tan significativa.
                                                          # 65% de pvalue: son dependientes (al final es una comparación de medias)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

Write your conclusion below.

In [11]:
# Generaly speaking, since the pvalue of 65.87% is greater than
# 5%, we do not reject the H0, and so, there is no significant
#difference between the water style pokemon to the other
# styles of pokemon.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# H0: the defense and attack scores average of pokemons are equal.

from scipy.stats import ttest_rel

ttest_rel(pokemon.Defense,pokemon.Attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#We reject the null hypothesis and conclude with 95% confidence interval that the average score of defence and
#attack are significantly different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#We reject the null hypothesis and conclude with 95% confidence interval that the average score of special 
# defence and special attack are quite different.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
from scipy.stats import ttest_1samp
    
ttest_1samp(pokemon.Defense-pokemon.Attack,0)  #same values confirmed from ttest_rel

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [18]:
# Your code here:
crosstabula = pd.crosstab(pokemon.Legendary,pokemon['Type 1']=='Water')
crosstabula

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [21]:
# H0: there is a relationship between this two categorical variables: legendary and type water.

from scipy.stats import chi2_contingency # test the hypothesis of independence of the observed frequencies in the contingency table. 
                                            #The expected frequencies are computed based on the marginal sums under the assumption of independence.
    
chi2, p, dof, ex = chi2_contingency(crosstabula,correction=False)     # p:=p-value, dof:=degrees of freedom, ex:= expected frecuencies based on the marginal sums of the crosstabula
p

0.0571762700873503

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# We don't reject the null hypothesis since the pvalue is greater than the 5%,
# so there is a relationship between the legendary and type water categorical variables.